.has-Sky{

 height:100%;
 background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url("stars_background.png");
}

.boxmargin {
    margin: 15px;
}
.navbar{
    background-color: transparent;
}
.navbar-item{
    color: white;
}