.background {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("stars_background.png");
}

ul li:active ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}

a {
    color: white;
}

a:hover {
    color: #9fbbff
}

.navorientation {
    display: flex;
    height: 100%;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 15px;
}


.navbar{
    background-color: transparent;
}
.navbar-item{
    color: white;
}
.navbar-link{
    color: white;
}

.navbar-dropdown {
    background-color: transparent;
}
@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: transparent;
        box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
        padding: 0.5rem 0;
    }
}
.navbar-burger{
    color: white;
}
