.has-Sky {

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("stars_background.png");
    background-attachment: fixed;
}
.is-horizontal-center {
    justify-content: center;
}
.is-vertical-center {
    align-items: center;
}

.sleepy {
    font-family: Jokerman, serif;
}

.boxmargin {
    margin: 15px;
}

.boxstyling {
    background-color: #78909c33 ;
    color: white;
}

.navbar {
    background-color: transparent;
}

.navbar-item {
    color: white;
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: transparent;
        box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
        padding: 0.5rem 0;
    }
}

.navbar-burger {
    color: white;
}
.image{
    max-width: 100%;

}