.moon{
    background-attachment: scroll;
background-color: black;
    background-blend-mode: luminosity;
    background-image: url("DALL·E 2023-02-10 11.16.18 - kannst du mir ein Bild der Mond in realistische bezeichnung mit animierte Sternen-modified.png");

}
ul li:hover ul {display: block;}
ul li ul {
    position: absolute;
    width: 200px;
    color: white;
    display: none;
}