.background{

    background-color: black;
    background-blend-mode: luminosity;

    height:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url("stars_background.png");
}

ul li:hover ul {
    display: block;
}
ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}

a {
    color: white;
}

a:hover {
    color: #9fbbff
}

.navorientation {
    display: flex;
    height: 100%;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}


.moon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}