.has-Sky{

 height:100%;
 background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url("stars_background.png");
    background-attachment: fixed;
}
.sleepy{
    font-family: Jokerman, serif;
}
.boxmargin {
    margin: 15px;
}
.navbar{
    background-color: transparent;
}
.navbar-item{
    color: white;
}
@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: transparent;
        box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
        padding: 0.5rem 0;
    }
}

.navbar-burger{
    color: white;
}