.moon{

background-color: black;
    background-blend-mode: luminosity;

    height:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url("moon_index.png");
}